requests
httpx
numpy
pandas
websockets
python-dotenv==1.0.0
pytest
gevent
openai
opencv-python
opencv-python-headless
google
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-core
google-cloud-speech==2.21.0
google-cloud-storage
google-crc32c
google-generativeai==0.3.2
google-resumable-media
googleapis-common-protos
Flask
Flask-Cors
Flask-RESTful
Flask-SocketIO
playsound
playwright
SpeechRecognition==3.10.0
taipy
taipy-common
taipy-core
taipy-gui
taipy-rest
taipy-templates
torch
torchaudio
torchvision
ttkbootstrap==1.10.1
elevenlabs==0.2.26
pygame==2.5.2
pyaudio==0.2.13
Pillow==10.1.0
matplotlib==3.8.2